@charset "UTF-8";

body {
	background-color: #FFF;
	font-size: 16px;
}

h1,h2,h3,h4 {
	text-align: center;
}

a {
	text-decoration: none;
	color : lightcoral;
}

a:hover {
	color : #fff;
}

table {
	width : 100%;
	margin: 0 auto;
	border: #A47160 solid 1px;
	border-radius: 15px;
	background-color: lightcoral;
}

tr {
	background-color: #fff;
}

tr:hover {
	color: #fff;
	background-color: #eee;
}

#wrap {
	width : 60%;
	margin : 0 auto;
}

tr:first-child td:nth-child(1) {
	background-image : url('../img/visual.png');
	background-repeat : no-repeat;
	background-position : center;
	background-size : 60% 250px;
	height : 250px;
	border-radius: 15px 15px 0 0;
	font-size : 20px;
	font-weight: bold;
}

tr:last-child td:nth-child(1) {
	border-radius: 0 0 15px 15px;
	padding: 15px 0;
}

.width {
	width : 15vw;
}

.high_height{
	height: 200px;
}

#title {
	font-size: 20px;
	font-weight: bold;
}

#icon {
	width : 30px;
	height: 30px;
	border : 1px dashed #666;
	border-radius: 10px;
}

#arrow {
	width : 15px;
	height: 15px;
}

#noimg {
	width: 150px;
	heigth: 150px;
	border: 1px dotted #666;
} 

td, th {
	font-size : 0.85em;
	padding: 5px;
	text-align: center;
}

div#paging {
	margin-top: 20px;
	padding : 8px;
	text-align: center;
	border: 3px solid #D4A190;
	border-radius: 10px;
}

input[type=text], 
input[type=password], 
input[type=email], 
input[type=date],
input[type=number]
{
	border: 1px solid #D4A190;
	border-radius: 10px;
	width: 80%;
	height: 25px;
	padding: 5px;
}

textarea {
	border: 1px solid #D4A190;
	border-radius: 10px;
	width: 80%;
	padding: 5px;
}

select {
	display : inline-block;
	border: 1px solid #D4A190;
	border-radius: 10px;
	width : 50px;
	height : 35px;
}

#phone2, 
#phone3 {
	width : 80px;
	height : 20px;
}

form {
	text-align: center;	
}

input[type=submit], 
input[type=button], 
input[type=reset] {
	border: 2px solid #D4A190;
	border-radius : 10px 0 10px 0;
	width: 120px;
	height: 30px;
	margin: 0 7px;
	color: #fff;
	background-color: lightcoral;
	cursor: pointer;
}

input[type=submit]:hover, 
input[type=button]:hover, 
input[type=reset]:hover {
	background-color : lightblue;
}

/* 정렬 class  */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}
/* 예외 페이지  */
#error {
	text-align: center;
}

#error > img {
	width: 700px;
	height: 550px;
}
