@charset "UTF-8";
/* 리셋부분 */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
	font-size: 16px;
}

h1,h2,h3,h4 {
	text-align: center;
}

a {
	text-decoration: none;
	color : #000;
}

ul > li {
	display: inline-block;
	padding : 0 25px;
}

ul > li:hover {
	font-weight: 600;
	color: navy;
}

a:hover {
	color : lightgray;
}
/* 레이아웃 부분 */
#wrap {
	width : 60%;
	margin : 40px auto;
}

#head {
	text-align: right;
	background-color: lightcoral;
	padding : 20px;
}

#footer {
	height : 15vh;
	line-height : 70px;
	background-color: lightcoral;
	padding : 20px;
}

.logoImg {
	width : 100%;
	height: 50vh;
}

table {
	width : 100%;
	margin: 0 auto;
	border: #A47160 solid 1px;
	border-radius: 15px;
}

tr {
	background-color: #fff;
}

tr:hover {
	color: #666;
}

tr:first-child td:nth-child(1) {
	background-image : url('../img/visual.png');
	background-repeat : no-repeat;
	background-position : center;
	background-size : 60% 250px;
	height : 200px;
	border-radius: 15px 15px 0 0;
	font-size : 20px;
	font-weight: bold;
}

tr:last-child td:nth-child(1) {
	border-radius: 0 0 15px 15px;
	padding: 15px 0;
}

.width {
	min-width : 10vw;
	width : 25vw;
}

.high_height{
	height: 200px;
}

#title {
	font-size: 20px;
	font-weight: bold;
}

#icon {
	width : 30px;
	height: 30px;
	border : 1px dashed #666;
	border-radius: 10px;
}

#arrow {
	width : 15px;
	height: 15px;
}

.imgBook {
	width: 100px;
	heigth: 100px;
	-webkit-transition: all .2s; /* For Safari 3.1 to 6.0 */
    transition: all .2s;
} 

.imgBook:hover {
	width: 120px;
	heigth: 120px;
} 

.imgBookmain {
	width: 80%;
	-webkit-transition: all .2s; /* For Safari 3.1 to 6.0 */
    transition: all .2s;
} 

.imgBookmain:hover {
	width : 100%;
} 

.btn {
	font-size : 0.8em;
	padding: 5px 15px;
	border: 2px solid lightpink;
}

	.btn:hover {
		background-color: #000;
	}
	
.discount {
	color : darkblue;
}

td, th {
	font-size : 0.85em;
	padding: 5px;
	text-align: center;
	background-color: #eee;
}

div#paging {
	margin-top: 20px;
	padding : 8px;
	text-align: center;
	border: 3px solid #D4A190;
	border-radius: 10px;
}

.pagingOut {
	border: 1.5px solid #333;
	border-radius : 5px;
	padding : 0 10px; 
}

.pagingOut:hover {
	background-color: #333;
}

input[type=text], 
input[type=password], 
input[type=email], 
input[type=date],
input[type=number]
{
	border: 1px solid #D4A190;
	border-radius: 10px;
	width: 80%;
	height: 25px;
	padding: 5px;
}

textarea {
	border: 1px solid #D4A190;
	border-radius: 10px;
	width: 80%;
	padding: 5px;
}

select {
	display : inline-block;
	border: 1px solid #D4A190;
	border-radius: 10px;
	width : 50px;
	height : 35px;
}

#phone2, 
#phone3 {
	width : 80px;
	height : 20px;
}

form {
	text-align: center;	
}

input[type=submit], 
input[type=button], 
input[type=reset] {
	border: 2px solid #D4A190;
	border-radius : 10px 0 10px 0;
	width: 120px;
	height: 30px;
	margin: 0 7px;
	color: #fff;
	background-color: lightcoral;
	cursor: pointer;
}

input[type=submit]:hover, 
input[type=button]:hover, 
input[type=reset]:hover {
	background-color : lightblue;
}

/* 정렬 class  */
.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}
/* 예외 페이지  */
#error {
	text-align: center;
}

#error > img {
	width: 700px;
	height: 550px;
}
