<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSP03_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 프로젝트 공용 파라메터를  
  <context-param>
  	<param-name>cId</param-name>
  	<param-value>leos</param-value>
  </context-param> 
  형식으로 정해놓으면 이 프로젝트의 모든 서블릿,jsp 가 공유한다.
  -->
  <listener>
  	<listener-class>com.tj.ex2.ListenerEx</listener-class>
  </listener><!-- 웹프로젝트가 시작되고 닫히는 것을 해당 클래스가 감지하고 있다.  -->
  
  <context-param>
  	<param-name>cId</param-name>
  	<param-value>leos</param-value>
  </context-param>
  <context-param>
  	<param-name>cPw</param-name>
  	<param-value>stonker26</param-value>
  </context-param>
  <context-param>
  	<param-name>cPath</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>ServletInitP</servlet-name>
    <servlet-class>com.tj.ex2.ServletInitParam</servlet-class>
    
    <!-- 아래의 Parameter 는 서블릿에 정의한 곳에서만 사용가능하다. -->
    <init-param>
      <param-name>id</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>pw</param-name>
      <param-value>mysql</param-value>
    </init-param>
    <init-param>
      <param-name>jdbcdriver</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    
  </servlet><!-- 서블릿 맵핑 : ServletInitParam -->
  
  <servlet>
  	<servlet-name>ServletInitP2</servlet-name>
    <servlet-class>com.tj.ex2.ServletInitParam2</servlet-class>
  </servlet><!-- 서블릿 맵핑 : ServletInitParam2 -->
  
  <servlet-mapping>
    <servlet-name>ServletInitP</servlet-name>
    <url-pattern>/ServletInitParam</url-pattern>
  </servlet-mapping><!-- com.tj.ex2.ServletInitParam -->
  
   <servlet-mapping>
    <servlet-name>ServletInitP2</servlet-name>
    <url-pattern>/ServletInitParam2</url-pattern>
  </servlet-mapping><!-- com.tj.ex2.ServletInitParam2 -->
</web-app>