*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

li{
    list-style: none;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}/* Clear Fix*/

/* header GNB*/
header > #gnb {
    background-color: #333;
    height: 30px;
}

header > #gnb > ul {
    text-align: center;
}

header > #gnb > ul > li {
    display: inline-block;
    padding: 5px 30px;
}

header > #gnb > ul > li > a {
    color: #fff;
    font-weight: bold;
}
    header > #gnb > ul > li > a:hover {
        color: #aaa;
    }
/* header Logo*/
header > #logo {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

    header > #logo > img {
        width: 250px;
        height: 150px;
    }
/* header HitMenu */
header > #hitmenu > ul {
    margin-bottom: 10px;
    text-align: right;
    margin-right: 360px;
}

header > #hitmenu > ul > li {
    display: inline-block;
    margin-left: -6.5px; 
    border: 1px solid #666;
    padding: 15px 30px;
}

    header > #hitmenu > ul > li:first-child {
        border-radius: 10px 0 0 10px;
    }

    header > #hitmenu > ul > li:last-child {
        border-radius: 0 10px 10px 0;
    }

header > #hitmenu > ul > li > a {
    font-weight: bold;
}

header > #hitmenu > ul > li > a:hover {
    color: #aaa;
}
/* header LNB */
header > #lnb > ul {
    border-top: 2px dotted #666; 
    border-bottom: 2px dotted #666; 
    text-align: center;
}

header > #lnb > ul > li {
    display: inline-block;
    padding: 15px 30px;
}

header > #lnb > ul > li > a {
    font-weight: bold;
}

    header > #lnb > ul > li > a:hover {
        color: #bbb;
    }
/* Content */
#content {
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}

/* Content  section1 */
#content > .section1 {
    overflow: hidden;
}

    #content > .section1 > .slide_banner{
        float: left;
        top: 0; left: 0;
        text-align: center;
        width: 700px;
        height: 400px;
        line-height: 400px;
        box-sizing: border-box;
        border: 1px solid #666;
    }

    #content > .section1 > .side_banner{
        float: left;
        top: 0; right: 0;
        text-align: center;
        width: 500px;
        height: 400px;
        line-height: 400px;
        box-sizing: border-box;
        border: 1px solid #666;
    }

/* Content  section2 */
#content > .section2 {
    margin-top: 10px;
    position: relative;
    top: 0px; left: 0;
    height: 300px;
}

#content > .section2 > #hit_product {
    overflow: hidden;
    border: 1px solid #666;
}

    #content > .section2 > #hit_product > .hit_product1{
        float: left;
        width: 285px;
        height: 300px;
        margin-left: 12px;
        box-sizing: border-box;
        border: 1px solid #666;
    }

    #content > .section2 > #hit_product > .hit_product2{
        float: left;
        width: 285px;
        height: 300px;
        margin-left: 12px;
        box-sizing: border-box;
        border: 1px solid #666;
    }

    #content > .section2 > #hit_product > .hit_product3{
        float: left;
        width: 285px;
        height: 300px;
        margin-left: 12px;
        box-sizing: border-box;
        border: 1px solid #666;
    }

    #content > .section2 > #hit_product > .hit_product4{
        float: left;
        width: 285px;
        height: 300px;
        margin-left: 12px;
        margin-right: 10px;
        box-sizing: border-box;
        border: 1px solid #666;
    }

/* Content  section2 */
#content > .section2 > #md_product {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
}

    #content > .section2 > #md_product > .md_product1{
        float: left;
        width: 285px;
        height: 300px;
        margin-left: 12px;
        box-sizing: border-box;
        border: 1px solid #666;
    }

    #content > .section2 > #md_product > .md_product2{
        float: left;
        width: 285px;
        height: 300px;
        margin-left: 12px;
        box-sizing: border-box;
        border: 1px solid #666;
    }

    #content > .section2 > #md_product > .md_product3{
        float: left;
        width: 285px;
        height: 300px;
        margin-left: 12px;
        box-sizing: border-box;
        border: 1px solid #666;
    }

    #content > .section2 > #md_product > .md_product4{
        float: left;
        width: 285px;
        height: 300px;
        margin-left: 12px;
        margin-right: 10px;
        box-sizing: border-box;
        border: 1px solid #666;
    }

/* Footer */
footer {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}

    footer > .office_logo {
        float: left;
        box-sizing: border-box;
        width: 200px;
        height: 100px;
        border: 1px solid #666;
    }

    footer > .office_address {
        float: left;
        box-sizing: border-box;
        width: 700px;
        height: 100px;
        border: 1px solid #666;
    }

    footer > .office_info {
        float: left;
        box-sizing: border-box;
        width: 300px;
        height: 100px;
        border: 1px solid #666;
    }

footer > .copyright {
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: #333;
}