*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1000px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #ddd;
}
/* header */
header {
    background-color: blueviolet;
    height: 80px;
    line-height: 80px;
}

header > h1 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

/* gnb menu */
#gnb {
    background-color:  #333;
}

#gnb > ul {
    overflow: hidden;
    display: inline-block;
    background-color:  #333;
}

    #gnb > ul > li {
        float: left;
        padding: 20px;
        border-right: 1px solid #fff;
    }


    #gnb > ul > li:nth-child(6) {
        float: right;
        border-right: 0;
    }

    #gnb > ul > li:nth-child(7) {
        float: right;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

#gnb > ul:nth-child(2) {
    overflow: hidden;
    float: right;
    background-color:  #333;
}

    #gnb > ul:nth-child(2) > li:nth-child(1) {
       border-left: 1px solid #fff;
    }

    #gnb > ul:nth-child(2) > li:nth-child(2) {
        border-right: 0;
     }
/* wrap */
#wrap {
    overflow: hidden;
}

/* lnb  */
#lnb {
    background: lightgreen;
    width: 100px;
    float: left;
}

#lnb > ul {
    overflow: hidden;
    text-align: center;
}

#lnb > ul > li{
    padding: 20px 0;
}

/* section */
section {
   overflow: hidden;
}

section > #content {
   float: left;
   padding: 15px;

 }

 section > #content > div > img {
    width: 125px;
    height: 100px;
    border: 2px solid lightgray;
  }

/* footer */
footer {
    text-align: center;
    background-color: #bbb;
}

footer > .footer_title {
    color: #fff;
    font-weight: bold;
    font-size : 1.5em;
    padding : 5px 0;
}

footer > .footer_copy {
    color: #fff;
    padding : 5px 0;
}