*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: lightyellow;
}

a{
    color: #666;
    text-decoration: none;
}

li{
    list-style: none;
}

hr{
    margin: 10px 0;
}

/*  초기화  */
header {
    position: relative;
    height: 45px;
    line-height: 45px;
    background-image: url('../img1/bg_header.png');
    text-align: center;
}

header > .left {
    position: absolute;
    left: 10px; top:5px;
}

header > .right {
    position: absolute;
    right:5px; top: 5px;
}

header > h1 {
    color: azure;
}

#toggle {
    display: none;
}

#gnb {
    display: none;
    box-sizing: border-box;
    border: 5px solid #666;
    padding: 5PX 0;
}/* 기본값은 안보이게 */

#gnb > ul {
    overflow: hidden;
    text-align: center;
}

#gnb > ul > li {
    width: 12.4vw;
    font-size: 1.1em;
    text-align: center;
    margin-left: -6PX;
    border: 1px solid gray;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
}

#gnb > ul > li > a {
    color: #666;
    display: block;
}

#gnb > ul > li > a:hover {
    background-color: lightpink;
}

#toggle:checked ~ #gnb { /* toggle 이 checked 일때만 #gnb 스타일이 적용*/
    display: block;
}

/* LNB */
#lnb {
    height: 60px;
    background-color: #137163;
}

#lnb > ul {
    overflow: hidden;
}

#lnb > ul > li {
    float: left;
    height: 60px;
    width: 20vw;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid lightgray;
    font-size: 1.2em;
    font-weight: bold;
    display: inline;
}

#lnb > ul > li > a {
    color: azure;
    display: block;
}

#lnb > ul > li > a:hover {
    background-color: lightcoral;
}

/* scetion */
section > #section_content > p:nth-child(1){
    color: lightblue;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px;
}

section > #section_content > p:nth-child(2){
    color: #666;
    padding: 10px;
    background-image: url('../img1/bg_image.jpg');
    background-size: 100%;
    background-position-x: -600px;
}
/* footer  */
footer > .logo {
    padding: 5px 0;
    text-align: center;
}

footer > .logo > img {
    width: 200px;
    height: 120px;
}

footer > .info {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
}

footer > .address {
    text-align: center;
    font-size: .9em;
    font-weight: bold;
    padding: 5px;
}