@charset "UTF-8";

body {
	background-color: #FFF;
	font-size: 9pt;
}

table {
	margin: 0 auto;
	border: #A47160 solid 1px;
	border-radius: 15px;
}

#wrap {
	width : 600px;
	margin: 0 auto;
}

button {
	border : 0;
	width: 90%;
	background-color: #D4A190;
	color: #fff;
}

button:hover {
	width: 90%;
	background-color: lightblue;
	color: #fff;
}

tr {
	background-color: #fff;
}

tr:first-child td:nth-child(1) {
	border-radius: 15px 15px 0 0;
	font-size : 20px;
	font-weight: bold;
}

tr:last-child td:nth-child(1) {
	border-radius: 0 0 15px 15px;
	padding: 15px 0;
}

tr:hover {
	color: #fff;
	background-color: #aaa;
}

#title {
	font-size: 20px;
	font-weight: bold;
}

td, th {
	padding: 5pt;
	text-align: center;
}

td:nth-child(1) {
	width: 100px;
	min-width: 80px;
}

td:nth-child(2) {
	width: 300px;
}

input[type=text], input[type=password], input[type=email], input[type=date]
{
	border: 1px solid #D4A190;
	border-radius: 10px;
	width: 300px;
	height: 25px;
	padding: 5px;
}

input[type=submit], input[type=button], input[type=reset] {
	border: none;
	width: 120px;
	height: 25px;
	margin: 0 7px;
	color: #fff;
	background-color: #A47160;
	cursor: pointer;
}

select {
	border: none;
	width: 250px;
}